*{
    /* 消除布局 */
    padding: 0;
    margin: 0;
}

.search{
    margin-left: 80rem;
}
.table_nigger{
    /* padding-right: 80%; */
     
}
.table{
    /* border-collapse:separate; */
    /* border-spacing: 1rem 1rem; */
}
