@font-face {
  font-family: "iconfont"; /* Project id 3187589 */
  src: url('iconfont.woff2?t=1645018893699') format('woff2'),
       url('iconfont.woff?t=1645018893699') format('woff'),
       url('iconfont.ttf?t=1645018893699') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuanquan:before {
  content: "\e63e";
}

.icon-bianhua:before {
  content: "\e74d";
}

.icon-shezhi:before {
  content: "\e8b7";
}

