@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <label>欢迎进入系统：</label>
    <br/>
    <form method="post">
        <button type="submit">点击</button> <input type="text" value="请输入文本"></input>
    </form>
</div>

